function Enemy.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 16
pop this 2
push constant 16
pop this 3
push constant 2
pop this 4
push constant 0
not
pop this 5
push pointer 0
return
function Enemy.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Enemy.move 0
push argument 0
pop pointer 0
push constant 0
return
function Enemy.draw 1
push argument 0
pop pointer 0
push this 1
push constant 32
call Math.multiply 2
push this 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
call Enemy.drawEnemy 1
pop temp 0
push constant 0
return
function Enemy.drawEnemy 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 15421
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 6169
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16380
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 2016
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 2016
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 384
call Memory.poke 2
pop temp 0
push constant 0
return
function Enemy.getX 0
push argument 0
pop pointer 0
push this 0
return
function Enemy.getY 0
push argument 0
pop pointer 0
push this 1
return
function Enemy.isActive 0
push argument 0
pop pointer 0
push this 5
return
function Enemy.setInactive 0
push argument 0
pop pointer 0
push constant 0
pop this 5
push constant 0
return
